-var titulo = "Titulo Principal"
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Document
        link(rel="stylesheet", href="css/ejercicio-pug.css")
    body
        header
            h1 PlatziGames
            a.boton(href="#") Registro 
        section.intro 
            .intro__img: img(src="images/imagen.png", alt="")
            .intro__content
                //- h2= titulo #{titulo} formas de mandar a llamar una variable
                h2 #{titulo} 
                p 
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                span Enim veniam consequuntur illum, quaerat voluptas eaque nihil fuga similique.
                a.boton(href="#") Leer Mas 

