doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Document
        link(rel="stylesheet", href="css/ejercicio-pug.css")
    body
        header
            h1 PlatziGames
            a.boton(href="#") Registro     